nav#footer {
    background-color: #f0f0f0;
    border-top: 1px solid #cccccc;
}
nav#header {
    margin-bottom: 0;
}
ol.breadcrumb {
    border-radius: 0;
    background-color: #e7e7e7;
}
div#main {
    margin-bottom: 8em;
}
p.nav-header {
    margin: 1em 0 1em 0;
    font-weight: bold;
}